<div class="laptop">
    <div class="monitor">
        <div class="monitor__front"></div>
        <div class="monitor__back">
            <span class="carret">></span>
            Dev<br> challange<br> 12
        </div>
    </div>
    <div class="keyboard">
        <div class="keyboard__keys">
            <div class="keyboard__row">
                @@loop('../key/key.html', [
                    {"name": "esc"},
                    {"name": "F1"},
                    {"name": "F2"},
                    {"name": "F3"},
                    {"name": "F4"},
                    {"name": "F5"},
                    {"name": "F6"},
                    {"name": "F7"},
                    {"name": "F8"},
                    {"name": "F9"},
                    {"name": "F10"},
                    {"name": "F11"},
                    {"name": "F12"},
                    {"name": "Eject"}
                ])
            </div>
            <div class="keyboard__row">
                @@loop('../key/key.html', [
                    {"name": "~"},
                    {"name": "1"},
                    {"name": "2"},
                    {"name": "3"},
                    {"name": "4"},
                    {"name": "5"},
                    {"name": "6"},
                    {"name": "7"},
                    {"name": "8"},
                    {"name": "9"},
                    {"name": "0"},
                    {"name": "-"},
                    {"name": "+"}
                ])
            </div>
            <div class="keyboard__row">
                @@loop('../key/key.html', [
                    {"name": "tab"},
                    {"name": "Q"},
                    {"name": "w"},
                    {"name": "E"},
                    {"name": "R"},
                    {"name": "T"},
                    {"name": "Y"},
                    {"name": "U"},
                    {"name": "I"},
                    {"name": "O"},
                    {"name": "P"},
                    {"name": "{"},
                    {"name": "}"},
                    {"name": "|"}
                ])
            </div>
            <div class="keyboard__row">
                @@loop('../key/key.html', [
                    {"name": "caps lock"},
                    {"name": "A"},
                    {"name": "S"},
                    {"name": "D"},
                    {"name": "F"},
                    {"name": "G"},
                    {"name": "H"},
                    {"name": "J"},
                    {"name": "K"},
                    {"name": "L"},
                    {"name": ":"},
                    {"name": "'"},
                    {"name": "return"}
                ])
            </div>
            <div class="keyboard__row">
                @@loop('../key/key.html', [
                    {"name": "shift"},
                    {"name": "Z"},
                    {"name": "X"},
                    {"name": "C"},
                    {"name": "V"},
                    {"name": "B"},
                    {"name": "N"},
                    {"name": "M"},
                    {"name": "<"},
                    {"name": ">"},
                    {"name": "?"},
                    {"name": "shift"}
                ])
            </div>
            <div class="keyboard__row">
                @@loop('../key/key.html', [
                    {"name": "fn"},
                    {"name": "control"},
                    {"name": "option"},
                    {"name": "command"},
                    {"name": " "},
                    {"name": "command"},
                    {"name": "option"},
                    {"name": "&#x25C0"},
                    {"name": "&#x25B2"},
                    {"name": "&#x25BC"},
                    {"name": "&#x25B6"}
                ])
            </div>
        </div>
        <div class="keyboard__touchpad"></div>
    </div>
</div>